@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f0f5f9, #c6d4e1); 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
 

.login-form, .signup-form {
    
    background: linear-gradient(to bottom, #e1f5fe, #b3e0ff);
    padding: 40px 35px 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
    border: none; 
    border-radius: 10px; 
 }
 
 /* Existing styles for text and form fields */
 

.text {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  letter-spacing: 2px;
}

form {
  margin-top: 40px;
}

.field {
  margin-top: 20px;
  display: flex;
}

.field .fas {
  height: 50px;
  width: 60px;
  color: #888;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: #f5f5f5;
}

.field input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #666;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ddd;
  background: #f5f5f5;
}

button {
    margin-top: 20px; /* Slightly reduce the top margin for a tighter look */
    padding: 10px 18px; /* Adjust padding for a smaller button size */
    border-radius: 5px; /* Keep the border radius */
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(to bottom, #ff9800, #ff5722); /* Shades of orange for the background */
    color: #fff;
    border: none;
    width: 100%;
    transition: background-color 0.5s, box-shadow 0.5s;
 }
 
 
 button:hover {
   background: #1976d2; /* Darker blue for hover effect */
   border: 2px solid #258e28; /* Increase border size for a bolder look */
   box-shadow: 0 0 5px rgba(0, 255, 0, 0.3),
               0 0 15px rgba(0, 255, 0, 0.2),
               0 0 20px rgba(0, 255, 0, 0.1),
               0 3px 0 black; /* Adjust box shadow for more emphasis */
   color: #fff; 
   /* Other hover styles */
}
 
  

.link {
  margin-top: 25px;
  color: #888;
}

.link a {
  color: #339933;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

